---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="金瑞">
	<main>
		<h1><span class="text-gradient">金瑞的博客</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://dongleicode.github.io/blog/"
				title="主页"
				body="自我探索"
			/>
			<Card
				href="https://jspang.com/articlelist"
				title="前端资源"
				body="大家共享"
			/>
			<Card
				href="https://www.bilibili.com/video/BV1wD4y1o7AS/?p=6&spm_id_from=333.1007.top_right_bar_window_history.content.click&vd_source=4c05648b36944582e0799b9bb5949b2b"
				title="Python"
				body="大家自取"
			/>
			<Card
				href="https://gitee.com/jishupang/web_atlas"
				title="前端知识图谱"
				body="前端进阶道路 ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
